{% extends "registration/registration_base.html" %}
{% load friend_tags %}
{% block title %}
    {{ profile.get_profile.first_name }} {{ profile.get_profile.last_name }}
{% endblock %}

{% block content %}

{% ifequal user.get_profile.id profile.get_profile.id  %}
    Это Вы
{% else %}

    {#        <a href="{% url add_to_friend profile.id  %}">{% up 'добавить в друзья'%}</a><br>#}
    {#        <a href="{% url del_from_friend profile.id  %}">удалить из друзей</a><br>#}

    {% is_friend user profile %}

{% endifequal %}
    {{ profile.id }}
    <br><br><br><br><br>
    {{ user.id }}<br>
    {{ profile.id }}<br>

Привет тебе, {{ profile.get_profile.first_name }} {{ profile.get_profile.last_name }}
    <br>
Ты в нирване с: {{ profile.get_profile.date_joined }}
    <br>
Нам в принципе пофигу, но все же ты - {{ profile.get_profile.get_gender_display }}
    <br>
Гуру найдет тебя по: {{ profile.get_profile.email }}
    <br>
Последняя реинкарнация: {{ profile.get_profile.birthday }}
    <br>

Ты выглядишь как: <br>
    {% if profile.get_profile.avatar %}
        <img src="{{ profile.get_profile.avatar.url }}" alt="аватар">
    {% endif %}
    <br>



{% endblock %}